{% extends 'base.html.twig' %}

{% block title %}Mes ingrédients{% endblock %}

{% block body %}
{# <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style> #}

<div class="container mt-4">
    <h1>Mes ingrédients</h1>


    {% if not ingredients.items is same as([]) %}

            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID produit</th>
                    <th scope="col">Nom produit</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Date création</th>

                  </tr>
                </thead>
                <tbody>
                {% for ingredient in ingredients %}
                  <tr class="table-primary">
                    <th scope="row">{{ ingredient.id }}</th>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.price }}</td>
                    <td>{{ ingredient.dateCreated|date('d/m/Y') }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>

            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(ingredients) }}
            </div>
{% else %}
<p>Aucun ingrédients</p>
{% endif %}
</div>
{% endblock %}
